.five-single-banner-section {
    width: 97%;
    margin: auto;
}
.fifth-single-banner-img {
    width: 100%;
    padding-top: 10%;
    background-image: url('./all-images/fifth-single-bne-img/Web-Banner-Savory-Snacks.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}