
.con-sec-1 {
    z-index: 1 !important;
}
.bnr1 {
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bnr2 {
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bnr3{
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr3.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bnr4 {
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr4.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bnr5 {
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr5.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bnr6 {
    width: 100%;
    padding-top: 30%;
    background-image: url('all-images/first-banner-imges/bnr6.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.owl-theme .owl-nav.disabled+.owl-dots {
     margin-top: 0 !important;
}