.four-single-banner-section {
    width: 97%;
    margin: auto;
}
.four-single-banner-img {
    width: 100%;
    padding-top: 10%;
    background-image: url('./all-images/four-single-bnr-img/four-single-nr.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}