.last-footer-section {
    width: 97%;
    margin: auto;
}
.copyright-icon-cus {
    float: left !important;
    margin-left: 10px;
    margin-right: 5px;
}
.yesr-cus {
    margin-top: 2px;
    float: left;
    margin-right: 8px;
}
.web-addres-cus {
    list-style: none;
    text-decoration: none;
    color: black;
}

