.second-banner-section {
    width: 97%;
    margin: auto;
}
.cake-banner {
    width: 100%;
    padding-top: 9.9%;
    background-image: url('all-images/second-single-banner-img/Web-Banner-Mexiacan-_-Momo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3%; 
}