.third-single-banner-img {
    background-image: url('./all-images/third-single-banner-img/Web-Banner-Customized-Cake.jpg');
    width: 100vw;
    
    padding-top: 9.9%;
    background-repeat: no-repeat;
    
    background-size: contain;
    
}

.third-single-banner-section {
    width: 97%;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    
}